/* adds css reset code in the start of the file to reduce browser inconsistencies */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css reset code ends here */

/* mobile view css starts here */
/* container remains full-width for mobile devices */
/* used display flex for the web structure to display each section from the top to bottom */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header img {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

ul {
    list-style-type: none;
    background-color: #BAB86C;
    color: #ffffff;

}

ul li {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

ul li a:link, 
ul li a:visited {
    text-decoration: none;
    color: #ffffff;
}

ul li:hover,
ul li a:hover {
    background-color: #D3D2A1;
}

main,
article {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

article {
    margin-bottom: 5%;
}

main img,
article img {
    width: 100%;
}

main h1,
article h2 {
    font-size: 24px;
    line-height: 1.5em;
}

.button,
.form button {
  background-color: #ffffff;
  border: 1px solid #bab86c;
  color: #262626;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 50px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.button:hover,
.form button:hover {
    background-color: #BAB86C;
    color: #ffffff;
}

footer {
    background-color: #BAB86C;
    padding: 2rem;
    font-size: 0.75rem;
    line-height: 1.24rem;
    color: #ffffff;
}

.intro {
    padding-bottom: 40px;
}

.contact {
    width: 80%;
    padding: 10%;
}

.contact h1 {
    font-size: 1.5rem;
}

.info label {
    display: block;
}

input, textarea {
    width: 100%;
}

.info input {
    height: 40px;
}
.info textarea {
    height: 150px;;
}

.form div {
    width: 100%;
}

.info,
.hours {
    padding-top: 20px;
}

.hours table, th, td {
    border: 1px solid #262626;
    height: 40px;
    font-size: 0.8rem;
}

.hours table {
    width: 100%;
    
}

.thanks {
    padding-bottom: 200px;
    text-align: center;
}


/* mobile responsive css code */
/* the top container remains full-width because it will look nicer with the full-width header and footer */
/* the second container will expand up to 1200px to keep all the content organized and easier to read  */
/* logo size will reduce to 30 percent to maintain a nice looking and a good proportion of the screen size */
@media screen and (min-width: 760px) {
    .container {
        max-width: 100%;
    }
    
    .main-container {
        max-width: 1200px;
        margin: auto;
    }

    header img {
        max-width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .nav li {
        padding-left: 10px;
        padding-right: 10px;
    }

    .main, 
    .team {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    .text,
    .intro {
        padding-left: 20px;
    }

    .member {
        padding-bottom: 40px;
    }

    .image,
    .member {
        padding-right: 20px;
    }

    .story {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .contact {
        display: grid;
        grid-template-columns: 45% 10% 45%;
        grid-template-rows: repeat(20%, 80%);
        grid-template-areas:
        "title title title"
        "form . hours"
    }

    .contact .contactus {
        grid-area: title;
    }

    .contact .form {
        grid-area: form;
    }

    .contact .hours {
        grid-area: hours;
    }


}